@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 18% 11%;
    --foreground: 0 0% 100%;

    --card: 222 18% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 222 18% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 24 94% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 222 18% 11%;
    --secondary-foreground: 0 0% 100%;

    --muted: 223 17% 20%;
    --muted-foreground: 215.4 16.3% 70%;

    --accent: 24 94% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 223 17% 20%;
    --input: 223 17% 20%;
    --ring: 24 94% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  #root {
    @apply h-full w-full m-0 p-0;
  }
  body {
    @apply bg-background text-foreground;
  }
}
